<div class="table-container">
    <h2>Personajes de Marvel</h2>

    <table class="table">
        <thead>
            <tr class="tr-title">
                <th scope="col">Identificador</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Consulta</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of logs.data.logs">
                <td scope="row">{{ log.id }}</td>
                <td>{{ log.apiEndpoint }}</td>
                <td>{{ log.datetime }}</td>
            </tr>

            <tr *ngIf="logs == null" class="empty-row">
                No se encontraron personajes
            </tr>
        </tbody>
    </table>
</div>