.nav-container {
    width: 100vw;
    height: 5vh;
    text-align: center;
    border-bottom: solid 1px #a39595;
    margin-top: 10px;
    
    a {
        transition: 0.4s;
        font-size: 20px;
        color: #000;
        text-decoration: none;
        margin: 0 1rem;
    }

    a:hover {
        transition: 0.4s;
        color: #adadad;
    }
}

.main-container {
    width: 100vw;
    height: 95vh;
}